
/**************************         
IMPORT
***************************/     
@import "_imports.scss"; // media queries - if needed 

                         
/*-----------------------------------------------------------------------------------

    0.  RESET & CLEARFIX
    1.  BASICS (body, headers, links, etc)
    2.  GENERAL ELEMENTS
    3.  HOME PAGE
    4.  PAINTING PAGE
    5.  CONTACT PAGE
    6.  NAVIGATION & MENU
     
-----------------------------------------------------------------------------------*/
/*---------------------------------------------- 
1.  BASICS (body, headers, links, etc)
------------------------------------------------*/
html{
    @include scrollbars(0.5em, $black);  
}

body{
    @include MQ(M){
        overflow-y: hidden; 
    }
    margin:0;
    padding:0;
}

/*---------------------------------------------- 
3. HOME PAGE
------------------------------------------------*/
#body{
    max-width: 100%;
 // overflow: scroll;
 width: 100%;
 display: block;
}

.enterence{ 
    background: $white;
    width: 100vw;
    transition: all 2s $transition-load; 
    z-index: 20;
    @include MQ(M){
        height:100vh;
        position: fixed;
        
    }
    .container{
        display: grid;
        transition: all .5s $transition-load ; 
        @include MQ(M){
            text-align:right;
            height: 100vh;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            justify-items:end;
        }
        
    }
    .name_title{
        margin-top: 1.5vh;
        opacity: 0;
        
        @include MQ(M){
            margin-top: 8vh;
            padding-right: 10px;
        }
        transition: all .8s $transition-load 0.3s;
        h1{
            display: grid;
            color:$black;
            span{ 
                transition: all .5s $transition-load; 
                opacity: 1;
                display: grid;
     
            }
        }
    }


    &.enterence_open{
        
        
        @include MQ(M){
            width: 25vw;
            height:100vh;

        } 

        .container{
            margin-left: 5vw;
            @include MQ(M){
                margin-left: 0vw;
            }
        }
        .name_title{
            opacity: 1;
            
        }
         
        nav{
            opacity:1;
            transform: translate(0,0);
        }
        .social_icons{
            opacity: 1;
            transform: translate(0,0); 
        }
    }
    &.enterence_short{
        height:10vh;
        @include MQ(M){
            width: 200px;
            height: 100vh;
            
            
        }
        .container{ 
            @include MQ(M){
                padding-right:20px;
            }
        }
        .name_title{  
            opacity: 1;
            h1{
                display: grid;
                span{ 
                       
                    &:nth-child(2){
                        transition: color 0.5s $transition-load 0.5s;
                        padding-left: 0.7vw;
                        @include MQ(M){
                            color:$black;
                        }
                    }
                }
            }
        }
        .social_icons{
            opacity: 1;       
        }
        nav{
            opacity: 1;
        }
    }
 }




.white_overlay{
    display:none;
    height: 100vh;
    width: 100vw;
    position: fixed; 
    // background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    z-index: 10;
    right: 0;

    @include MQ(M){
        height: 100vh;
        width: 15vw;
        display: grid;
    }
    & > div{
        bottom: 5vh;
        right: 3vw;
        display:grid;
        justify-content: end;
        position: absolute;
        z-index: 25;
        p{
            font:{
                size:0.6em;
            }
        }
    }
    .svg{
        opacity:0.25;
        #line{

        }
        #triangle{
            animation: animate 3s $transition-load;
            animation-iteration-count: infinite;


            @keyframes animate{
                0%{
                    transform: translate(0,0);
                    opacity: 0;
                }
                30%{
                    opacity: 1;
                }
                70%{
                    opacity: 1;
                }
                100%{
                    transform: translate(40px,0);
                    opacity: 0; 
                }
            }
        }
    }
}





.page_container{
    display: grid;
    transition: all 2s $transition-load ;
    transform: translate(0vw,100vh); 
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;

    @include MQ(M){
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        transform: translate(100vw,0); 
    }

    &.enterence_short_img{
        transform: translate(0vw,0vh);
        @include MQ(M){
            transform: translate(30vw,0);
        }
    }
    &.img_load_animation{
        transform: translate(0vw,0px);
        @include MQ(M){
            transform: translate(35vw,0);
        }
    }
    .img_container{
        display: grid;
        width:100vw;
        grid-template-columns: auto;
        grid-template-rows: repeat(100, auto);

        @include MQ(M){
            height: 100vh;
            width:auto;
            grid-template-rows: auto;
            grid-template-columns: repeat(100, auto);
        }




        .img_box{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            justify-content: end;
            align-content: start;
            margin: 5vh 5vw 5vh 5vw;
            @include MQ(M){
                margin: 15vh 10vw 15vh 0;
            }
            .detail_box{
                min-width: 35%;
                display: grid;
                margin: 1vh 0;
                p{
                    color: $black;
                    text-align: right;
                }
            }
            .img{
                display: grid;
                box-shadow: 4px 4px 20px rgba($black, 0.3);
                width: 90vw;
                height: auto;
                align-self: end;
                @include MQ(M){
                    width: auto;
                    height: 60vh;
                }
            }
        }
    }

    .description{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 90vw;
        padding:150px 5vw 40px;

        @include MQ(M){
            grid-template-rows: auto minmax(auto, 70vh);
            grid-template-columns: repeat(2, minmax(70vw, 100vw));
            padding: 8vh 10vw 10vh 200px;
            grid-gap: 2.5vw;
        }
        p{
            margin-bottom:2.5vh;
        }

        .title{
            margin-bottom:2.5vh;
            @include MQ(M){
                grid-column-start:1;
                grid-column-end:3;
            }
        }
        
    }
}


#painting_page{

}



/*---------------------------------------------- 
5. CONCTACT PAGE
------------------------------------------------*/



#contact_about{
    overflow: auto;
    overflow-x: hidden;
    .enterence_open{
        @include MQ(M){
                width: 25vw;
        }    
    }
    
    .contact_about_section{
        display: grid;
        transition-delay: 0.5s; 
        margin: 8vh 5vw;
        align-content:center;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        grid-gap:10vh;
        @include MQ(M){
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr;
            grid-gap:2.5vw;
        }
        .section{
            display: grid;
            z-index: 15;
        }
        .about_section{
            p{
                margin-bottom:10px;
            }
        }
        .contact_section{
            .divider{
                border-top: 2px solid #000;
                margin:6vh 0 3vh; 
                width: 100%;
            }
            .form_button{
                margin-right: 2vw;
            }
            .extra_information{
                width: 100%;
                .information_containers{
                    margin-top: 3vh;
        
                    display: grid;
                    .extra_title{
                        width: 40%;
                    }
                    .extra_text{
                        width: 60%;
                        float:left;
                    }
                }
            }   
        }
    }
    .page_container{

        &.img_load_animation{
            @include MQ(M){
                width: 75vw;
                transform: translate(25vw,0);
            }
        }


    }
}

.testdiv{
    height: 100vh;
    width: 300vw;
}


/*---------------------------------------------- 
5. NAVIGATION
------------------------------------------------*/


.navigation{
        display: grid;

        @include MQ(M){
            justify-content: start;
            margin-bottom: 10vh;
            align-items: end;
        }

        nav{
            opacity:0;
            display:grid;
            transition: all 0.7s $transition-load 0.5s;
            ul{
                padding-left:0;
                list-style: none;
                display: grid;
                

                li{
                    padding: 10px 1vw;
                    @include MQ(M){
                        text-align: right;
                        padding: 2vh 1vw;
                    }
                    button{
                        padding:0;
                    }

                    span{
                        opacity: 1;
                        transition:all 0.6s $transition-load;
                        border-top: 2px solid $white;  
                        display: grid;
                        margin-top: -0.5em;
                        width: 0%;
                    }
                    &:hover{
                         &:first-child{
                            span{
                                width:115px;
                            }
                        }
                        &:nth-child(2){
                            span{
                                width:90px;
                            }
                        }
                        &:nth-child(3){
                            span{
                                width:130px;
                            }
                        }
                        span{
                            opacity:1;
                            width: 100%;
                            margin-left: -1em;
                        }
                    }
                }
            }

            .divider{
                width: 60px;
                background-color:$black;
                height:1px;
                justify-self:end;
                display:grid;
                margin-right:10px;
            }
        }
    }





